/* ボディ */
body {
    margin: 0;
}

/* ヘッダー */
header {
    background-color: #dddcd6;
}

/* ナビゲーション */
.navigation_wrapper {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* アイコン自体 */
.fas {
    font-size: 50px;
    color: #1e62d0;
}
/* トップに戻るaタグ */
.nav_top {
    margin-left: 20px;
}
/* トップに戻る(図書管理システム) */
.nav_top_text {
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}
/* ログアウトするaタグ */
.nav_logout {
    margin-right: 20px;
    /* margin: 0 0 0 auto; */
}

/* メイン */
main {
    text-align: center;
}
h1 {
    margin: 20px auto;
}
.form_input {
    width: 250px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #eee;
    outline: none;
}
.form_input:focus {
    background-color: #ccccff;
}
.search_form_input {
    width: 200px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #eee;
    outline: none;
}
.search_form_input:focus {
    background-color: #ccccff;
}

/* 職員ページ */
/* 職員登録 */
.register_form_wrapper {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 貸出・返却ページ */
/* 会員ID照会 */
.borrow_form_wrapper {
    margin: 0 auto;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #1E62D0;
}


/*検索ボタン*/
#sbtn {
    width: 50px; /*検索ボタンの横幅*/
    height: 30px; /*検索ボタンの縦幅*/
    /* position:relative;/*検索ボタンの位置*/
    left: auto; /*検索ボタンの位置調整*/
    top: 0;
    border-radius: 0 2px 2px 0; /*検索ボタンの角を丸める*/
    background: #7fbfff; /*検索ボタンの背景カラー*/
    border: none; /*検索ボタンの枠線を消す*/
    color: #fff; /*検索ボタンのテキストカラー*/
    font-weight: bold; /*検索ボタンのテキスト太字*/
    font-size: 16px; /*検索ボタンのフォントサイズ*/
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover {
    color: #666; /*検索ボタンマウスオーバー時のフォントカラー*/
}

/* テーブルの設定 */
table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}
/* テーブルの見出し */
th {
    background-color: paleturquoise;
    color: saddlebrown;
}
/* テーブルの要素の設定 */
th,
td {
    border: solid 1px;
    padding: 10px;
}
td {
	background: #eee;
}
tr:nth-child(odd) td {
	background: #fff;
}

/* Pタグの設定 */
.new_button {
    background-color: skyblue;
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 45%;
    text-align: center;
    border-radius: 20px;
}
/* Aタグの文字の設定 */
.text {
    color: snow;
}
/* ページリンクの設定 */
nav ul{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center; 
    justify-content: center;
}